# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go
name: Go
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
    
jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: gocv/opencv:4.10.0
    steps:
    - uses: actions/checkout@v4
    - name: Fix ownership issues
      run: git config --global --add safe.directory /__w/FacialRecognition/FacialRecognition
    
    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'
    
    - name: Build
      run: |
        mkdir -p release
        go build -v main.go
        
    - name: Upload build artifact
      uses: actions/upload-artifact@v4
      with:
        name: facial-recognition-linux
        path: FacialRecognition
        retention-days: 7